@using Dividender.Models.Entities
@model Dividender.Models.Portfolio.Trade

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Trade</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Shares" class="control-label"></label>
                <input asp-for="Shares" class="form-control" />
                <span asp-validation-for="Shares" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseDate" class="control-label"></label>
                <input asp-for="PurchaseDate" class="form-control" />
                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchasePrice" class="control-label"></label>
                <input asp-for="PurchasePrice" class="form-control" />
                <span asp-validation-for="PurchasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellDate" class="control-label"></label>
                <input asp-for="SellDate" class="form-control" />
                <span asp-validation-for="SellDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellPrice" class="control-label"></label>
                <input asp-for="SellPrice" class="form-control" />
                <span asp-validation-for="SellPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Target" class="control-label"></label>
                <input asp-for="Target" class="form-control" />
                <span asp-validation-for="Target" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction" class="control-label"></label>
                <select asp-for="Transaction" class="form-control" asp-items="Html.GetEnumSelectList<Transaction>()"></select>
                <span asp-validation-for="Transaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TickerId" class="control-label"></label>
                <select asp-for="TickerId" class ="form-control" asp-items="ViewBag.TickerId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
