@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dividender</h1>
</div>



<div class="card-deck mb-3 text-center">

    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h5 class="my-0 font-weight-normal">Portfolio</h5>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <li>View stats</li>
            </ul>
            <button type="button" class="btn btn-sm btn-block btn-outline-primary">View History</button>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h5 class="my-0 font-weight-normal">Dividend History</h5>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <li>Upcoming Dividends</li>
                <li>Add New</li>
            </ul>
            <button type="button" class="btn btn-sm btn-block btn-primary">View History</button>
        </div>
    </div>

</div>



